.modal-body {
  .input-group-text {
    background-color: #1f2251 !important;
  }

  .form-check-label {
    color: #000 !important;
  }

  .input-group-prepend {
    .input-group-text {
      padding: 10px;
    }
  }

  input {
    color: #000 !important;
  }
}
