<app-header [backgroundDesktop]="true"></app-header>
<div class="wrapper">
  <div class="page-header">
    <img class="dots" src="assets/img/dots.png" />

    <img class="path" src="assets/img/path4.png" />

    <div class="container align-items-center">
      <div class="row">
        <div class="col-lg-4 col-md-6 img-girl-pin">
          <img src="../../../../assets/img/pin-girl.png" alt="" />
        </div>
        <div class="col-lg-6 col-md-6 ml-auto mr-auto">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img
                class="img-center img-fluid rounded-circle shadow-lg"
                [src]="avatar"
              />

              <h4 class="title">Meu Perfil</h4>
              <div class="edit badge badge-neutral">
                <span class="mr-1">Edição:</span>
                <bSwitch
                  class="edit-switch"
                  [switch-on-color]="'danger'"
                  [switch-off-color]="'danger'"
                  [switch-off-text]="'OFF'"
                  [switch-on-text]="'ON'"
                  [(ngModel)]="editable"
                  (changeState)="onChangeEditSwitch($event)"
                >
                </bSwitch>
              </div>
            </div>
            <div class="card-body">
              <form role="form" [formGroup]="formUser" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-12" *ngIf="msgAlert">
                    <alert
                      class="alert-with-icon"
                      [type]="typeAlert"
                      [dismissible]="true"
                    >
                      <span class="tim-icons icon-bell-55" data-notify="icon">
                      </span>
                      <span> <b> Oba! - </b> {{ msgAlert }} </span>
                    </alert>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 form-group">
                    <div
                      class="input-group input-group-alternative"
                      [ngClass]="{ 'input-group-focus': focus4 === true }"
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="tim-icons icon-single-02"> </i>
                        </span>
                      </div>
                      <input
                        name="first_name"
                        formControlName="first_name"
                        class="form-control"
                        placeholder="Nome"
                        type="text"
                        (focus)="focus4 = true"
                        (blur)="focus4 = false"
                      />
                    </div>
                    <div
                      *ngIf="
                        formUser.controls.first_name.invalid &&
                        (formUser.controls.first_name.dirty ||
                          formUser.controls.first_name.touched)
                      "
                    >
                      <span
                        class="text-danger"
                        *ngIf="formUser.controls.first_name.errors.required"
                        >{{ texts.messages.requiredErrorMsg }}</span
                      >
                      <span
                        class="text-danger"
                        *ngIf="formUser.controls.first_name.errors.minlength"
                        >{{ texts.messages.minLenghtText }}</span
                      >
                    </div>
                  </div>
                  <div class="col-lg-6 form-group">
                    <div
                      class="input-group input-group-alternative"
                      [ngClass]="{ 'input-group-focus': focus5 === true }"
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="tim-icons icon-single-02"> </i>
                        </span>
                      </div>
                      <input
                        name="last_name"
                        formControlName="last_name"
                        class="form-control"
                        placeholder="Sobrenome"
                        type="text"
                        (focus)="focus5 = true"
                        (blur)="focus5 = false"
                      />
                    </div>
                    <div
                      *ngIf="
                        formUser.controls.last_name.invalid &&
                        (formUser.controls.last_name.dirty ||
                          formUser.controls.last_name.touched)
                      "
                    >
                      <span
                        class="text-danger"
                        *ngIf="formUser.controls.last_name.errors.required"
                        >{{ texts.messages.requiredErrorMsg }}</span
                      >
                      <span
                        class="text-danger"
                        *ngIf="formUser.controls.last_name.errors.minlength"
                        >{{ texts.messages.minLenghtText }}</span
                      >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 form-group mb-3">
                    <div
                      class="input-group input-group-alternative"
                      [ngClass]="{ 'input-group-focus': focus1 === true }"
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="tim-icons icon-email-85"> </i>
                        </span>
                      </div>
                      <input
                        name="email"
                        formControlName="email"
                        class="form-control"
                        placeholder="Email"
                        type="email"
                        (focus)="focus1 = true"
                        (blur)="focus1 = false"
                      />
                    </div>
                    <div
                      *ngIf="
                        formUser.controls.email.invalid &&
                        (formUser.controls.email.dirty ||
                          formUser.controls.email.touched)
                      "
                    >
                      <span
                        class="text-danger"
                        *ngIf="formUser.controls.email.errors.required"
                      >
                        {{ texts.messages.requiredErrorMsg }}
                      </span>
                      <span
                        class="text-danger"
                        *ngIf="formUser.controls.email.errors.email"
                        >{{ texts.messages.formatWrong }}</span
                      >
                    </div>
                  </div>
                  <div class="col-lg-6 form-group mb-3">
                    <div
                      class="input-group input-group-alternative"
                      [ngClass]="{ 'input-group-focus': focus6 === true }"
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="tim-icons icon-badge"> </i>
                        </span>
                      </div>
                      <input
                        name="avatar"
                        formControlName="avatar"
                        class="form-control"
                        placeholder="avatar"
                        type="avatar"
                        (focus)="focus6 = true"
                        (blur)="focus6 = false"
                      />
                    </div>
                    <div
                      *ngIf="
                        formUser.controls.avatar.invalid &&
                        (formUser.controls.avatar.dirty ||
                          formUser.controls.avatar.touched)
                      "
                    >
                      <span
                        class="text-danger"
                        *ngIf="formUser.controls.avatar.errors.required"
                      >
                        {{ texts.messages.requiredErrorMsg }}
                      </span>
                      <span
                        class="text-danger"
                        *ngIf="formUser.controls.avatar.errors.avatar"
                        >{{ texts.messages.formatWrong }}</span
                      >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 form-group">
                    <div
                      class="input-group input-group-alternative"
                      [ngClass]="{ 'input-group-focus': focus2 === true }"
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="tim-icons icon-key-25"> </i>
                        </span>
                      </div>
                      <input
                        name="password"
                        formControlName="password"
                        class="form-control"
                        placeholder="Senha"
                        type="password"
                        (focus)="focus2 = true"
                        (blur)="focus2 = false"
                      />
                    </div>
                    <div
                      *ngIf="
                        formUser.controls.password.invalid &&
                        (formUser.controls.password.dirty ||
                          formUser.controls.password.touched)
                      "
                    >
                      <span
                        class="text-danger"
                        *ngIf="formUser.controls.password.errors.required"
                      >
                        {{ texts.messages.requiredErrorMsg }}
                      </span>
                      <span
                        class="text-danger"
                        *ngIf="formUser.controls.password.errors.minlength"
                      >
                        {{ texts.messages.minLenghtPass }}
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-6 form-group">
                    <div
                      class="input-group input-group-alternative"
                      [ngClass]="{ 'input-group-focus': focus3 === true }"
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="tim-icons icon-key-25"> </i>
                        </span>
                      </div>
                      <input
                        name="password_confirmation"
                        formControlName="password_confirmation"
                        class="form-control"
                        placeholder="Confirmaçâo de Senha"
                        type="password"
                        (focus)="focus3 = true"
                        (blur)="focus3 = false"
                      />
                    </div>
                    <div
                      *ngIf="
                        formUser.controls.password_confirmation.invalid &&
                        (formUser.controls.password_confirmation.dirty ||
                          formUser.controls.password_confirmation.touched)
                      "
                    >
                      <span
                        class="text-danger"
                        *ngIf="
                          formUser.controls.password_confirmation.errors
                            .required
                        "
                      >
                        {{ texts.messages.requiredErrorMsg }}
                      </span>
                      <span
                        class="text-danger"
                        *ngIf="
                          formUser.controls.password_confirmation.errors
                            .minlength
                        "
                        >{{ texts.messages.minLenghtPass }}</span
                      >
                    </div>
                    <span
                      class="text-danger"
                      *ngIf="
                        formUser.errors && formUser.errors.passwordNotMatch
                      "
                      >{{ texts.messages.passwordNotMatch }}</span
                    >
                  </div>
                </div>
                <div *ngIf="editable" class="text-center">
                  <button
                    class="btn btn-primary my-0"
                    type="submit"
                    [disabled]="formUser.invalid"
                  >
                    <span>Salvar alterações</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
